header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
#customInput {
	display: flex;
	align-items: center;
	position: relative;
}
.svg_icon {
	fill: #3a3a3a;
	width: 18px;
	height: 18px;
}
#tvShowInput{
    color:#000;
	padding: 5px;
	background-color: #f8f8f8;
    border: none;
	color: #000000;
	border-radius: 5px 0px 0px 5px;
}
#submitButton {
    background-color: #f8f8f8;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 2px;
}