body {
    margin: 0;
    background: linear-gradient(90deg, rgb(15, 15, 15) 70%, rgba(27,27,27,1) 85%, rgb(43, 43, 43) 100%);
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
li {
    padding-inline: 10px;
}
